{{#unless updating}}
  <div class="row panel">
    <div class="col-sm-12">
      <p>{{comment.author}} - {{comment.date}}</p>
      <p>{{comment.content}}</p>
    </div>
  </div>
{{else}}
  <div class="row panel">
    <div class="col-sm-12">
      {{input value=author id="author" placeholder=comment.author}}
      {{textarea value=content id="content" placeholder=comment.content}}
      <button {{action 'updateComment' comment}}>Submit</button>
      <button {{action 'deactivateUpdateForm'}}>Cancel</button>
    </div>
  </div>
{{/unless}}
<div class="row panel control-buttons">
  <div class="col-sm-offset-10 col-sm-2">
    <button {{action "destroyComment" comment}}>Delete</button>
    <button {{action 'activateUpdateForm'}}>Edit</button>
  </div>
</div>
